@import "../variables";

$sidebar-width: 15% !default;
$sidebar-width-mobile: 60% !default;
$sidebar-margin-top: 3.5rem !default;
$sidebar-link-height: 3rem !default;
$sidebar-font-size: 1.2rem !default;
$sidebar-hover-background-color: $white !default;
$sidebar-hover-text-color: $primary-color !default;
$sidebar-border-color: $white !default;
$sidebar-text-color: $white !default;
$sidebar-background-color: $primary-color !default;
$sidebar-icon-class: ".fa-caret-right" !default;

$sidebar-active-background-color: darken($primary-color, 5%) !default;

.page-content {
  margin-right: auto;
  margin-top: 5rem;
  padding-right: 15px;
  padding-left: 15px;

  @include media-breakpoint-up(lg) {
    width: 100% - $sidebar-width;
    margin-left: $sidebar-width;
  }

  @include media-breakpoint-down(md) {
    width: 100%;
    margin-left: 0;
  }
}

.sidebar-wrapper {
  position: fixed;
  height: calc(100vh - #{$sidebar-margin-top});
  width: $sidebar-width;
  margin-top: $sidebar-margin-top;
  z-index: 998;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $sidebar-background-color;
  transition: all 0.5s;

  @include media-breakpoint-down(md) {
    width: $sidebar-width-mobile;
    margin-left: -$sidebar-width-mobile;
    &.active{
      margin-left: 0;
    }
  }
}

.sidebar {
  font-size: $sidebar-font-size;
  ul li > a {
    color: $sidebar-text-color;
    display: block;
    line-height: $sidebar-link-height;
    width: 100%;
    padding: 1rem 2rem 1rem 1rem;
    transition: $transition-base;

    &:hover {
      cursor: pointer;
      color: $sidebar-hover-text-color;
      background-color: $sidebar-hover-background-color;
    }

    &.active {
      background-color: $sidebar-active-background-color
    }

    & ~ ul {
      margin-left: 0.5rem;
      border-left: 0.3rem solid $sidebar-border-color;
    }

    & > svg#{$sidebar-icon-class} {
      height: $sidebar-link-height;
      position: absolute;
      text-align: center;
      right: 1rem;
    }

    &[aria-expanded = false] > svg#{$sidebar-icon-class} {
      transition: $transition-base;
      transform: rotate(0deg);
    }

    &[aria-expanded = true] > svg#{$sidebar-icon-class} {
      transition: $transition-base;
      transform: rotate(90deg);
    }
  }
}
